
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../images/c1.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;


}
h1 {
  
  margin-left: 600px;
  color: whitesmoke;
}
.header {
  display: flex;
  align-items: center;
  background-color: #055c33;
  padding: 20px 20px;
}
.homeLink {
  color: white;
  text-decoration: none;
  font-weight: bold;

}  .smallNav {
  background: #eaeaea;
  list-style: none;
  padding: 0px;
  font-size: 20px;
  font-family:'Poppins', sans-serif;
  display: flex;
  font-weight: bold;
}

.smallNav li {
  display: inline;
  color: #ffffff;
}

.smallNav li i {
  margin-right: 5px;
 
}


.smallNav a {
  color: black;
  text-decoration: none;
}

.smallNav a:hover {
  text-decoration: underline;
}

#buyTicketsHeading, #detailsHeading {
  text-align: center;
  margin-top: 20px;
}


#ticketForm {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

button {
  background-color: #055c33;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #055c33;
}
.header {
  text-align: center;
}

.heading {
  font-size: 24px;
  margin: 10px 0;
}


.content {
  padding: 20px;
}

.subheading {
  font-size: 18px;
  margin-top: 10px;
}

.summary-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #FFFFFF;

}

.summary-table td {
  padding: 5px 10px;
  border: 1px solid #111
}

.summary-table td:first-child {
  font-weight: bold;
}
